@tailwind base;
@tailwind components;
@tailwind utilities;

.polygon {
  /*                    top              right     bottom      */
  clip-path: polygon(100% 0%, 100% 40%, 100% 30%, 51% 100%, 0% 100%, 0% 0%);
}
.triangle {
  clip-path: polygon(100% 10%, 0% 100%, 100% 100%);
}
.rectangle {
  clip-path: polygon(0% 71%, 100% 70%, 100% 100%, 0% 100%);
}
